* {
  max-width: 700px;
  margin: auto;
}


/*body {
    min-width: 500px;
}*/

div {
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #ffcccc;
  position: fixed;
  z-index: 1;
}


p,
li {
  font-family: 'Cormorant Garamond';
}

.head {
  font-size: 20px;
}


a {
  color: black;
  text-decoration: none;
}
